@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FFF;
    font-family: 'Poppins', sans-serif;
}
img {
    display: block;
    width: 100%;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.1px;
    line-height: 1.8;
    margin-bottom: 0.5rem;
}
.container {
    width: 95%;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.section-bg {
    background-color:#eae9e9;
}
.section-padding {
    padding: 5rem 0;
}
.btn {
    display: inline-block; 
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    padding: .8rem 2.2rem;
    border-radius: 4px;
    transition: all 400ms ease-in-out;
}
.btn-outline {
    color: #151515;
    border: 1px solid #74757f;
}
.btn-outline:hover {
    color: #FFF;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-solid {
    color: #fff;
    background: #007bff;
    margin-top: 2rem;
}
.btn-solid:hover {
    color: #FFF;
    background: #333;
    border-color: #333;
}
@media (max-width: 768px) {
    p {
        font-size: 0.85rem;
    }
}

/*========================== HEADER ============================*/
.nav-header {
    height: 100px;
    padding: 0 2rem;
    background: #fff;
    display: flex;
    align-items: center;
}
.toggle-menu,
.toggle-menu-ellipsis {
    display: none;
}
/*logo*/
.logo {
    flex: 3;
    color: #151515;
    position: relative;
    font-size: 1.4rem;
}
.logo h1 {
    font-weight: 300;
    letter-spacing: 1.1px;
}
.logo h1 span {
    font-weight: 900;
}
/*top-links*/
.top-links-container {
    flex: 9;
}
.top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.top-link span {
    display: block;
    color: #74757f;
}
.top-link span:hover {
    color: #007bff;
}
.link-icon {
    color: #151515;
    font-size: 1.1rem;
    border: 1px solid #CCC;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 400ms ease;
}
.link-icon:hover {
    color: #FFF;
    background-color: #007bff;
}

.nav-top-link a{
    color: #74757f;
}
/*nav-links*/
.links-container {
    background: rgba(116, 117, 127, 0.16);
    padding: 1rem 2rem;
}
.fixed-link-container {
    position: fixed;
    background: #333;
    width: 100%;
    top: 0;
    transition: all 400ms ease;
    z-index: 9999;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.links-container a {
    color: #FFF;
}
@media (max-width:992px) {
    .logo {
        font-size: 1rem;
    }
    .link-icon {
        font-size: 1rem;
        width: 36px;
        height: 36px;
    }
    .top-link span {
        font-size: 0.7rem;
    }
    .btn {
        font-size: 12px;
        padding: 0.6rem 1.6rem;
    }
}
@media (max-width:768px) {
    .nav-header {
        height: 60px;
    }
    .logo  {
        font-size: 1rem;
    }
    .nav {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
    .top-links-container {
        position: absolute;
        top: 100%;
        background: #FFF;
        border-bottom-left-radius: 5px;
        right: 0;
        height: 0;
        overflow: hidden;
    }
    .top-links {
        background: #FFF;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 2.5rem;
    }
    .links-container {
        position: absolute;
        padding: 0;
        height: calc(100vh - 60px);
        background-color: #fff;
        top: 60px;
        width: 60%;
        height: 0;
        overflow: hidden;
        transition: all 400ms ease;
    }
    .nav-links {
        flex-direction: column;
        gap: 0;
    }
    .links-container li {
        display: block;
        padding: 1.5rem 2rem;
        background: #FFF;
        width: 100%;
        transition: hover 400ms ease;
    }
    .links-container li a{
        color: #151515;
    }
    .links-container li:hover{
        color: #FFF;
        background: #007bff;
    }
    .links-container li:hover a{
        color: #FFF;
    }
    /*--toggle-btn--*/
    .toggle-menu,
    .toggle-menu-ellipsis {
        display: block;
        color: #151515;
        border: none;
        font-size: 1.2rem;
        background: transparent;
    }
    .toggle-menu {
        margin-right: 16px;
    }
}
@media (max-width: 576px) {
    .links-container {
        width: 70%;
    }
}
/*========================== HERO SECTION ============================*/
/*slides*/
.image-slider {
    position: relative;
}
.slide {
    position: relative;
    width: 100%;
    padding: 11rem 0;
    overflow: hidden;
}
.slide-1 {
    display: none;
    background: url(../images/slide-img-1.jpg);
    background-size: cover;
}
.slide-2 {
    display: none;
    background: url(../images/slide-img-2.jpg);
    background-size: cover;
}
.slide-3 {
    display: none;
    background: url(../images/slide-img-3.jpg);
    background-size: cover;
}
.active {
    display: block;
}
/*slide btns*/
.slide-btns {
    display: flex;
    gap: 2rem;
    position: absolute;
    bottom: 1rem;
    left: calc(2.5% + 15px);
}
.slide-btn {
    color: #FFF;
    background: rgba(116, 117, 127, 0.2);
    width: 36px;
    height: 36px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}
.slide-btn-active {
    color: #FFF;
    background-color: #333;
}
.slide-btn:hover {
    color: #f2f2f2; 
}
/*Hero text*/
.sub-heading {
    position: relative;
    color: #FFF;
    text-transform: uppercase;
    font-size: 2.3rem;
    z-index: 999;
    left: calc(80px + 10px);
    margin-bottom: 10px;
}
.sub-heading::before {
    content: '';
    width: 80px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: calc(-80px - 10px);
    top: 50%;
    transform: translateY(-50%);
}
.heading {
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
}
.slide-content p {
    max-width: 80%;
}
.slide p {
    color: #FFF;
}
/*Media qurey for the Hero section*/
@media (max-width:992px) {
    .slide {
        padding: 7rem 0;
    }
    .container {
        max-width: 768px;
    }
    .slide-btns {
        left: 50%;
        transform: translateX(-50%);
    }
    .sub-heading {
        font-size: 1.8rem;
        left: calc(60px + 8px);
    }
    .sub-heading::before {
        width: 60px;
        height: 3px;
        left: calc(-60px - 8px);
    }
    .heading {
        font-size: 2.8rem;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 540px;
        padding: 10px;
    }
    .sub-heading {
        font-size: 1.5rem;
    }
    .heading {
        font-size: 2.2rem;
    }
    .slide-content p {
        max-width: 90%;
    }
}
@media (max-width:540px) {
    .container {
        padding: 8px;
    }
    .sub-heading {
        font-size: 1.3rem;
        left: calc(30px + 3px);
    }
    .heading {
        font-size: 2rem;
    }
    .sub-heading::before {
        width: 30px;
        height: 3px;
        left: calc(-30px - 3px);
    }
    .slide-content p {
        max-width: 100%;
    }
}
/*========================== PROPERTIES SECTION ============================*/
.section-heading {
    color: #151515;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}
.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.item img {
    /* aspect-ratio: auto 571/353; */
    margin-bottom: 1.5rem;
}
.item-heading {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}
.item-heading a{
    color: #333;
}
.item ul li {
    color: #333;
    font-size: 1.1rem;
    display: inline-block;
    padding: 5px 1rem 5px 0;
}
.item ul {
    margin-bottom: 0.5rem;
}
.section-btn {
    text-align: center;
}
@media (max-width: 992px) {
    .item-heading {
        font-size: 1.1rem;
    }
}
@media (max-width:768px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*==========================  SECTION-1 ============================*/
.section-center {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}
.flex-box {
    display: flex;
    gap: 1.5rem;
}
.box-icon {
    color: #74757f;
    font-size: 2rem;
}
.box-content h4 {
    color: #151515;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media (max-width: 992px) {
    .box-content h4 {
        font-size: 1.2rem;
    }
    .box-icon {
        font-size: 1.55rem;
    }
}
@media (max-width:768px) {
    .section-center {
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .flex-box {
        flex: 1;
        min-width: 45%;
    }
    
}
@media (max-width:540px) {

    .section-center {
        flex-direction: column;
        padding: 0 3rem;
    }
}

/*==========================  CATOGORIES ============================*/
h3 {
    color: #151515;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: 1.2px;
}
#categories .container > p {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 3.1rem;
}
#categories .items {
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width:992px) {
    #categories .container > p {
        width: 85%;
    }
}
@media (max-width:768px) {
    h3 {
        font-size: 1.8rem;
    }
    #categories .items {
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:540px) {
    h3 {
        font-size: 1.4rem;
    }
    #categories .container > p {
        width: 100%;
    }
    #categories .items {
        padding: 0 2.5rem;
        grid-template-columns: 1fr;
    }
}
/*==========================  OUR TEAM ============================*/
.section-center .flex-box {
   align-items: flex-start;
   justify-content: flex-start;
}
 .flex-box img{
   aspect-ratio: auto 270 / 273;
}
h5 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.box-content a {
    color: #151515;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.box-content a span {
    display: block;
    margin-bottom: 0.5rem;
}
@media (max-width:992px) {
    #our-team .items {
        grid-template-columns: 1fr;
    }
}
/*========================== OFFERS ============================*/
.offers {
    color: #FFF;
    position: relative;
    text-align: center;
    background: url(../images/bg-1-1920-455.jpg);
    background-size: cover;
}
.offers h3 {
    color: #FFF;
}
.offers p {
    color: #FFF;
    width: 50%;
    margin: auto;
}
.offers h5 {
    margin-bottom: 2rem;
}
.offers .btn-solid {
    color: #000;
    background: #fff;
}
.offers .btn-solid:hover{
    color: #fff;
    background: #007bff;
}
@media (max-width:992px) {
    .offers p {
        width: 80%;
    }
}
/*========================== TESTIMONIALS ============================*/
.testimonials h3 {
    margin-bottom: 2.5rem;
}
.testimoials-container {
    display: flex;
    gap: 1%;
    overflow: hidden;
}
.quote {
    padding: 0 0.5rem;
    min-width: 33%;
}
.quote-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.quote-profile .img {
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
    border-radius: 100%;
}
.quote-profile h5 {
   margin-bottom: 0;
}
.testimonial-button-container {
    text-align: center;
    margin-top: 2rem;
}
.testimonial-button-container .btn-dot {
    width: 8px;
    height: 8px;
    background: #CCC;
    outline: none;
    border: none;
    border-radius: 100%;
    transition: transform 300ms ease;
}
.testimonial-button-container .btn-dot:first-child {
    margin-right: 1rem;
}
.testimonial-button-container .btn-dot:hover {
    background: #007bff;
    transform: scale(170%);
}
.testimonial-button-container .btn-dot .active {
    background: #007bff;
    transform: scale(170%);
}
@media (max-width:768px) {
    .quote {
        padding: 0 0.5rem;
        min-width: 100%;
    }
}