/*========================== FONTS ============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');
/*========================== VARIABLES ============================*/
:root {
    /*FONTS-COLOR*/
    --COLOR-BLACK : #151515;
    --COLOR-BLACK-TRANSPARENT : rgba(0, 0, 0, 0.2);
    --COLOR-GRAY : #8D8D8D;
    --COLOR-LIGHT-GRAY : #EAE9E9;
    --COLOR-DARK-GRAY : #232426;
    --COLOR-GRAY-TRANSPARENT : rgba(116, 117, 127, 0.2);
    --COLOR-WHITE : #FFF;
    --COLOR-BLUE : #007bff;
    /*BACKGROUND COLOR */
    --BG-WHITE :  var(--COLOR-WHITE);
    --BG-LIGHT-GRAY :  var(--COLOR-LIGHT-GRAY);
    --BG-DARK-GRAY :  var(--COLOR-DARK-GRAY);
    --BG-BLUE :  var(--COLOR-BLUE);
    --BG-OVERLAY : var(--COLOR-BLACK-TRANSPARENT);
    --BG-GRAY-TRANSPARENT : var(--COLOR-GRAY-TRANSPARENT);
    /*SHADOW*/
    --LIGHT-SHADOW : 0 5px 15px rgba(0, 0, 0, 0.1);
    --DARK-SHADOW : 0 5px 15px rgba(0, 0, 0, 0.2);
    /*BORDER-RADIUS*/
    --BORDER-RADIUS-SM : 0.2rem;
    --BORDER-RADIUS-MD : 0.5rem;
    --BORDER-RADIUS-LG : 100%;
    /*FONT SPACING*/
    --SPACING-SM : 0.08rem;
    --SPACING-LG : 0.3rem;
    /*FONT-WEIGHT*/
    --FONT-LIGHT : 300;
    --FONT-REGULAR : 400;
    --FONT-SEMI-BOLD : 600;
    --FONT-BOLD : 900;
    /*OTHER*/
    --FONT-FAMILY : 'Poppins', sans-serif;
    --TRANSITION : all 300ms ease-in;
    --MAX-WIDTH : 1250px;
    --LINE-HEIGHT : 1.5;
    --BORDER : 1px solid var(--COLOR-GRAY);
}
/*========================== GLOBAL STYLES ============================*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--BG-WHITE);
    font-family: var(--FONT-FAMILY);
}
img {
    display: block;
    width: 100%;
}
.h1{
    font-size: 3.5rem;
    color: var(--COLOR-WHITE);
    text-transform: uppercase;
    font-weight: var(--FONT-BOLD);
    letter-spacing: var(--SPACING-SM);
    margin-bottom: 1rem;
}
h2 {
    color: var(--COLOR-BLACK);
    font-size: 2.3rem;
    font-weight: var(--FONT-SEMI-BOLD);
    letter-spacing: var(--SPACING-SM);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
h3 {
    color: var(--COLOR-BLACK);
    font-size: 2.3rem;
    font-weight: var(--FONT-REGULAR);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: var(--SPACING-SM);
}
h4 {
    color: var(--COLOR-BLACK);
    font-size: 1.3rem;
    font-weight: var(--FONT-REGULAR);
    letter-spacing: var(--SPACING-SM);
    margin-bottom: 1rem;
}
h5 {
    color: var(--COLOR-BLACK);
    font-size: 1.5rem;
    font-weight: var(--FONT-REGULAR);
    margin-bottom: 0.5rem;
}
h6 {
    color:var(--COLOR-WHITE);
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-bottom: 1.5rem;
    letter-spacing: var(--SPACING-SM);
}
p {
    color: var(--COLOR-GRAY);
    font-size: 0.9rem;
    font-weight: var(--FONT-LIGHT);
    letter-spacing: var(--SPACING-SM);
    line-height: var(--LINE-HEIGHT);
    margin-bottom: 0.5rem;
}
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    width: 95%;
    max-width: var(--MAX-WIDTH);
    padding: 0 15px;
    margin: auto;
}
.section-bg {
    background-color: var(--BG-LIGHT-GRAY);
}
.section-padding {
    padding: 5rem 0;
}
.btn {
    display: inline-block; 
    font-size: 0.9rem;
    font-weight: var(--FONT-REGULAR);
    text-transform: uppercase;
    letter-spacing: var(--SPACING-SM);
    padding: .8rem 2.2rem;
    border-radius: var(--BORDER-RADIUS-SM);
    box-shadow: var(--LIGHT-SHADOW);
    transition: var(--TRANSITION);
}
.btn-outline {
    color: var(--COLOR-BLACK);
    border: var(--BORDER);
}
.btn-outline:hover {
    color: var(--COLOR-WHITE);
    background-color:var(--BG-BLUE);
    border-color: var(--COLOR-BLUE);
}
.btn-solid {
    color: var(--COLOR-WHITE);
    background: var(--BG-BLUE);
    margin-top: 2rem;
}
.btn-solid:hover {
    color: var(--COLOR-WHITE);
    background: var(--BG-DARK-GRAY);
    border-color: var(--COLOR-DARK-GRAY);
}
/*========================== HEADER ============================*/
.nav-header {
    height: 100px;
    padding: 0 2rem;
    background: var(--BG-WHITE);
    display: flex;
    align-items: center;
}
.toggle-menu,
.toggle-menu-ellipsis {
    display: none;
}
/*logo*/
.logo {
    flex: 3;
    color: var(--COLOR-BLACK);
    position: relative;
    font-size: 1.4rem;
}
.logo h1 {
    font-weight: var(--FONT-LIGHT);
    letter-spacing: var(--SPACING-SM);
}
.logo h1 span {
    font-weight: var(--FONT-BOLD);
}
/*top-links*/
.top-links-container {
    flex: 9;
}
.top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.top-link span {
    display: block;
    color: var(--COLOR-GRAY);
}
.top-link span:hover {
    color: var(--COLOR-BLUE);
}
.link-icon {
    color: var(--COLOR-BLACK);
    font-size: 1.1rem;
    border: var(--BORDER);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--BORDER-RADIUS-LG);
    transition: var(--TRANSITION);
}
.link-icon:hover {
    color: var(--COLOR-WHITE);
    background-color: var(--COLOR-BLUE);
}
.nav-top-link a{
    color: var(--COLOR-GRAY);
}
/*nav-links*/
.links-container {
    background: var(--COLOR-BLACK-TRANSPARENT);
    padding: 1rem 2rem;
}
.fixed-link-container {
    position: fixed;
    background: var(--COLOR-DARK-GRAY);
    width: 100%;
    top: 0;
    transition: var(--TRANSITION);
    z-index: 9999;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.links-container a {
    color: var(--COLOR-WHITE);
}
@media (max-width:992px) {
    .logo {
        font-size: 1rem;
    }
    .link-icon {
        font-size: 1rem;
        width: 36px;
        height: 36px;
    }
    .top-link span {
        font-size: 0.7rem;
    }
    .btn {
        font-size: 12px;
        padding: 0.6rem 1.6rem;
    }
}
@media (max-width:768px) {
    .nav-header {
        height: 60px;
    }
    .logo  {
        font-size: 1rem;
    }
    .nav {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
    .top-links-container {
        position: absolute;
        top: 100%;
        background: var(--BG-WHITE);
        border-bottom-left-radius: var(--BORDER-RADIUS-SM);
        right: 0;
        height: 0;
        overflow: hidden;
    }
    .top-links {
        background: var(--BG-WHITE);
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 2.5rem;
    }
    .links-container {
        position: absolute;
        padding: 0;
        height: calc(100vh - 60px);
        background-color: var(--BG-WHITE);
        top: 60px;
        width: 60%;
        height: 0;
        overflow: hidden;
        transition: var(--TRANSITION);
    }
    .nav-links {
        flex-direction: column;
        gap: 0;
    }
    .links-container li {
        display: block;
        padding: 1.5rem 2rem;
        background: var(--BG-WHITE);
        width: 100%;
        transition: var(--TRANSITION);
    }
    .links-container li a{
        color: var(--COLOR-BLACK);
    }
    .links-container li:hover{
        color: var(--COLOR-WHITE);
        background: var(--BG-BLUE);
    }
    .links-container li:hover a{
        color: var(--COLOR-WHITE);
    }
    /*--toggle-btn--*/
    .toggle-menu,
    .toggle-menu-ellipsis {
        display: block;
        color: var(--COLOR-BLACK);
        border: none;
        font-size: 1.2rem;
        background: transparent;
    }
    .toggle-menu {
        margin-right: 16px;
    }
}
@media (max-width: 576px) {
    .links-container {
        width: 70%;
    }
}
/*========================== HERO SECTION ============================*/
/*slides*/
.image-slider {
    position: relative;
}
.slide {
    position: relative;
    width: 100%;
    padding: 11rem 0;
    overflow: hidden;
}

.slide-1 {
    display: none;
    background: url(../images/slide-img-1.jpg);
    background-size: cover;
}
.slide-2 {
    display: none;
    background: url(../images/slide-img-2.jpg);
    background-size: cover;
}
.slide-3 {
    display: none;
    background: url(../images/slide-img-3.jpg);
    background-size: cover;
}
.active {
    display: block;
}
/*slide btns*/
.slide-btns {
    display: flex;
    gap: 2rem;
    position: absolute;
    bottom: 1rem;
    left: calc(2.5% + 15px);
}
.slide-btn {
    color: #FFF;
    background: var(--BG-GRAY-TRANSPARENT);
    box-shadow: var(--LIGHT-SHADOW);
    width: 36px;
    height: 36px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}
.slide-btn-active {
    color: var(--COLOR-WHITE);
    background-color: var(--BG-DARK-GRAY);
}
.slide-btn:hover {
    color: #f2f2f2; 
}
/*Hero text*/
.sub-heading {
    position: relative;
    color: var(--COLOR-WHITE);
    text-transform: uppercase;
    font-size: 2.3rem;
    z-index: 999;
    left: calc(80px + 10px);
    margin-bottom: 0.75rem;
}
.sub-heading::before {
    content: '';
    width: 80px;
    height: 5px;
    background-color: var(--BG-WHITE);
    position: absolute;
    left: calc(-80px - 10px);
    top: 50%;
    transform: translateY(-50%);
}
.heading {
    font-size: 3.5rem;
    color: var(--COLOR-WHITE);
    text-transform: uppercase;
    font-weight: var(--FONT-BOLD);
    letter-spacing: var(--SPACING-SM);
    margin-bottom: 1rem;
}
.slide-content p {
    max-width: 60%;
}
.slide p {
    color: var(--COLOR-WHITE);
}
/*Media qurey for the Hero section*/
@media (max-width:992px) {
    .slide {
        padding: 7rem 0;
    }
    .container {
        max-width: 768px;
    }
    .slide-btns {
        left: 50%;
        transform: translateX(-50%);
    }
    .sub-heading {
        font-size: 1.8rem;
        left: calc(60px + 8px);
    }
    .sub-heading::before {
        width: 60px;
        height: 3px;
        left: calc(-60px - 8px);
    }
    .heading {
        font-size: 2.8rem;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 540px;
        padding: 10px;
    }
    .sub-heading {
        font-size: 1.5rem;
    }
    .heading {
        font-size: 2.2rem;
    }
    .slide-content p {
        max-width: 90%;
    }
}
@media (max-width:540px) {
    .container {
        padding: 8px;
    }
    .sub-heading {
        font-size: 1.3rem;
        left: calc(30px + 3px);
    }
    .heading {
        font-size: 2rem;
    }
    .sub-heading::before {
        width: 30px;
        height: 3px;
        left: calc(-30px - 3px);
    }
    .slide-content p {
        max-width: 100%;
    }
}
/*========================== PROPERTIES SECTION ============================*/
.section-heading {
    color: var(--COLOR-BLACK);
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: var(--FONT-SEMI-BOLD);
    text-align: center;
    margin-bottom: 2rem;
}
.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.item img {
    /* aspect-ratio: auto 571/353; */
    margin-bottom: 1.5rem;
}
.item-heading {
    color: var(--COLOR-BLACK);
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: var(--FONT-REGULAR);
}
.item-heading a{
    color: var(--COLOR-BLACK);
    letter-spacing: var(--SPACING-SM);
}
.item ul li {
    color: var(--COLOR-BLACK);
    font-size: 1.1rem;
    display: inline-block;
    padding: 5px 1rem 5px 0;
}
.item ul {
    margin-bottom: 0.5rem;
}
.section-btn {
    text-align: center;
}
@media (max-width: 992px) {
    .item-heading {
        font-size: 1.1rem;
    }
}
@media (max-width:768px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*==========================  SECTION-1 ============================*/
.section-center {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}
.flex-box {
    display: flex;
    gap: 1.5rem;
}
.box-icon {
    color: var(--COLOR-GRAY);
    font-size: 2rem;
}
@media (max-width: 992px) {
    .box-content h4 {
        font-size: 1.2rem;
    }
    .box-icon {
        font-size: 1.55rem;
    }
}
@media (max-width:768px) {
    .section-center {
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .flex-box {
        flex: 1;
        min-width: 45%;
    }
    
}
@media (max-width:540px) {

    .section-center {
        flex-direction: column;
        padding: 0 3rem;
    }
}

/*==========================  CATOGORIES ============================*/
#categories .container > p {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 3.1rem;
}
#categories .items {
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width:992px) {
    #categories .container > p {
        width: 85%;
    }
}
@media (max-width:768px) {
    h3 {
        font-size: 1.8rem;
    }
    #categories .items {
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:540px) {
    h3 {
        font-size: 1.4rem;
    }
    #categories .container > p {
        width: 100%;
    }
    #categories .items {
        padding: 0 2.5rem;
        grid-template-columns: 1fr;
    }
}
/*==========================  OUR TEAM ============================*/
.section-center .flex-box {
   align-items: flex-start;
   justify-content: flex-start;
}
 .flex-box img{
   aspect-ratio: auto 270 / 273;
}

.box-content a {
    color: var(--COLOR-BLACK);
    font-size: 0.9rem;
    font-weight: var(--FONT-REGULAR);
    margin-bottom: 0.5rem;
}
.box-content a span {
    display: block;
    margin-bottom: 0.5rem;
}
@media (max-width:992px) {
    #our-team .items {
        grid-template-columns: 1fr;
    }
}
/*========================== OFFERS ============================*/
.offers {
    color: var(--COLOR-WHITE);
    text-align: center;
    background: url(../images/bg-1-1920-455.jpg);
    background-size: cover;
}
.offers h3 {
    color: var(--COLOR-WHITE);
}
.offers p {
    color: var(--COLOR-WHITE);
    width: 50%;
    margin: auto;
}
.offers h5 {
    color: var(--COLOR-WHITE);
    margin-bottom: 2rem;
}
.offers .btn-solid {
    color: var(--COLOR-BLACK);
    background: var(--BG-WHITE);
}
.offers .btn-solid:hover{
    color: var(--COLOR-WHITE);
    background: var(--COLOR-BLUE);
}
@media (max-width:992px) {
    .offers p {
        width: 80%;
    }
}
/*========================== TESTIMONIALS ============================*/
.testimonials h3 {
    margin-bottom: 2.5rem;
}
.testimoials-container {
    display: flex;
    gap: 1%;
    overflow: hidden;
}
.quote {
    padding: 0 0.5rem;
    min-width: 33%;
}
.quote-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.quote-profile .img {
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
    border-radius: 100%;
}
.quote-profile h5 {
   margin-bottom: 0;
}
.testimonial-button-container {
    text-align: center;
    margin-top: 2rem;
}
.testimonial-button-container .btn-dot {
    width: 8px;
    height: 8px;
    background: var(--COLOR-GRAY);
    outline: none;
    border: none;
    border-radius: 100%;
    transition: var(--TRANSITION);
}
.testimonial-button-container .btn-dot:first-child {
    margin-right: 1rem;
}
.testimonial-button-container .btn-dot:hover {
    background: var(--BG-BLUE);
    transform: scale(170%);
}
.testimonial-button-container .btn-dot .active {
    background: var(--BG-BLUE);
    transform: scale(170%);
}
@media (max-width:768px) {
    .quote {
        padding: 0 0.5rem;
        min-width: 100%;
    }
}
/*========================== ABOUT-HERO ============================*/
.about-hero {
    overflow: hidden;
    background: url(../images/breadcrumbs-image-1.jpg);
    background-size: cover;
}
.about-title {
    color: var(--COLOR-GRAY);
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 0;
    margin-top: 3rem;
    position: relative;
    left: calc(30px + 6px);
}
.about-title::before {
    content: '';
    width: 30px;
    height: 2px;
    background-color: var(--COLOR-GRAY);
    position: absolute;
    left: calc(-30px - 6px);
    top: 50%;
    transform: translateY(-50%);
}
.title {
    font-size: 2rem;
    color: var(--COLOR-WHITE);
    text-transform: uppercase;
    font-weight: var(--FONT-REGULAR);
    margin-bottom: 2rem;
}
/*========================== CAREER ============================*/
.career-wrapper {
    display: flex;
    gap: 3rem;
}
.career-wrapper > div {
    flex: 1;
}
.career-wrapper .career-text h3{
    text-align: left;
}
.career-wrapper .career-text .section-btn{
    text-align: left;
}
.career-wrapper .career-text .section-desc{
    font-size: 1.1rem;
}
@media (max-width:992px) {
    .career-wrapper {
        padding: 0 5rem;
        flex-direction: column;
    }
    .career-img {
        order: 2;
    }
    .career-text {
        order: 1;
    }
}
@media (max-width:768px) {
    .career-wrapper {
        padding: 0 1rem;
    }
}
/*========================== CHOOSE ============================*/
.choose {
    text-align: center;
}
.choose p {
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
}
.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card {
    width: 100%;
}
.card i {
    color: var(--COLOR-BLUE);
    font-size: 2rem;
}
.card span{
    font-size: 3rem;
    display: block;
}
@media (max-width:992px){
    .choose p {
        width: 80%;
    }
    .cards {
        flex-wrap: wrap;
    }
    .card {
        width: 50%;
    }
}
@media (max-width:540px) {
    .choose p {
        width: 100%;
    }
}
/*========================== FOOTER ============================*/
.footer {
    background-color: var(--BG-DARK-GRAY);
}
.footer-main {
    padding-top: 5rem;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.col {
    grid-column: span 2;
}
.inline-title {
    margin-bottom: 0.5rem;
}
.inline-title a {
    color: var(--COLOR-WHITE);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

hr {
    color: var(--COLOR-WHITE);
    border: 0;
    margin-top: 0;
    border-top: 1px solid var(--COLOR-WHITE);
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer-nav ul li a{
    color: var(--COLOR-GRAY);
}
@media (max-width:992px) {
    .wrapper {
        row-gap: 2rem;
    }
    .col {
        grid-column: span 3;
    }
    .col-1 {
        grid-column: span 6;
    }
}
@media (max-width:768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }
    .footer-nav {
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 0    ;
    }
}
@media (max-width:540px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .col {
        grid-column: span 1;
    }
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-nav ul {
        justify-content: center;
    }
}
/*site-footer */
.site-footer-wrapper {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    color: var(--COLOR-GRAY);
}
@media (max-width:768px) { 
    .site-footer-wrapper {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}