@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #CCC;
    font-family: 'Poppins', sans-serif;
}
img {
    display: block;
    width: 100%;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.1px;
    line-height: 1.5;
}
.btn {
    display: inline-block; 
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    padding: .8rem 2.2rem;
    border-radius: 4px;
    transition: all 400ms ease-in-out;
}
.btn-outline {
    color: #151515;
    border: 1px solid #74757f;
}
.btn-outline:hover {
    color: #FFF;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-solid {
    color: #fff;
    background: #007bff;
    margin-top: 2rem;
}
.btn-solid:hover {
    color: #FFF;
    background: #333;
    border-color: #333;
}

/*========================== HEADER ============================*/
.nav-header {
    height: 100px;
    padding: 0 2rem;
    background: #fff;
    display: flex;
    align-items: center;
}
.toggle-menu,
.toggle-menu-ellipsis {
    display: none;
}
/*logo*/
.logo {
    flex: 3;
    color: #151515;
    position: relative;
    font-size: 1.4rem;
}
.logo h1 {
    font-weight: 300;
    letter-spacing: 1.1px;
}
.logo h1 span {
    font-weight: 900;
}
/*top-links*/
.top-links-container {
    flex: 9;
}
.top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.top-link span {
    display: block;
    color: #74757f;
}
.top-link span:hover {
    color: #007bff;
}
.link-icon {
    color: #151515;
    font-size: 1.1rem;
    border: 1px solid #CCC;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 400ms ease;
}
.link-icon:hover {
    color: #FFF;
    background-color: #007bff;
}

.nav-top-link a{
    color: #74757f;
}
/*nav-links*/
.links-container {
    background: rgba(116, 117, 127, 0.16);
    padding: 1rem 2rem;
}
.fixed-link-container {
    position: fixed;
    background: #333;
    width: 100%;
    top: 0;
    transition: all 400ms ease;
    z-index: 9999;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.links-container a {
    color: #FFF;
}
@media (max-width:992px) {
    .logo {
        font-size: 1rem;
    }
    .link-icon {
        font-size: 1rem;
        width: 36px;
        height: 36px;
    }
    .top-link span {
        font-size: 0.7rem;
    }
    .btn {
        font-size: 12px;
        padding: 0.6rem 1.6rem;
    }
}
@media (max-width:768px) {
    .nav-header {
        height: 60px;
    }
    .logo  {
        font-size: 1rem;
    }
    .nav {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
    .top-links-container {
        position: absolute;
        top: 100%;
        background: #FFF;
        border-bottom-left-radius: 5px;
        right: 0;
        height: 0;
        overflow: hidden;
    }
    .top-links {
        background: #FFF;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 2.5rem;
    }
    .links-container {
        padding: 0;
        /* height: calc(100vh - 60px); */
        background-color: #fff;
        width: 60%;
        height: 0;
        overflow: hidden;
        transition: all 400ms ease;
    }
    .nav-links {
        flex-direction: column;
        gap: 0;
    }
    .links-container li {
        display: block;
        padding: 1.5rem 2rem;
        background: #FFF;
        width: 100%;
        transition: hover 400ms ease;
    }
    .links-container li a{
        color: #151515;
    }
    .links-container li:hover{
        color: #FFF;
        background: #007bff;
    }
    .links-container li:hover a{
        color: #FFF;
    }
    /*--toggle-btn--*/
    .toggle-menu,
    .toggle-menu-ellipsis {
        display: block;
        color: #151515;
        border: none;
        font-size: 1.2rem;
        background: transparent;
    }
    .toggle-menu {
        margin-right: 16px;
    }
}
@media (max-width: 576px) {
    .links-container {
        width: 70%;
    }
}
/* .image-slider {
    position: relative;
} */
.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    overflow: hidden;
}
.slide-1 {
    display: none;
    background: url(../images/slide-img-1.jpg);
    background-size: cover;
}
.slide-2 {
    display: none;
    background: url(../images/slide-img-2.jpg);
    background-size: cover;
}
.slide-3 {
    display: none;
    background: url(../images/slide-img-3.jpg);
    background-size: cover;
}
.slide-btns {
    position: absolute;
    bottom: -100px;
    left: 2rem;
    display: flex;
    gap: 2rem;
}
.slide-btn {
    color: hsla(0, 0%, 100%, 0.171);
    background: rgba(116, 117, 127, 0.2);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.slide-btn:hover {
    color: #FFF;
    background-color: #333
}
.sub-heading {
    margin-top: 5rem;
    position: relative;
    color: #FFF;
    text-transform: uppercase;
    font-size: 2.3rem;
    z-index: 999;
    left: calc(80px + 10px);
    margin-bottom: 10px;
}
.sub-heading::before {
    content: '';
    width: 80px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: calc(-80px - 10px);
    top: 50%;
    transform: translateY(-50%);
}
.heading {
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
}
.slide p {
    color: #FFF;
}